[Unit]
Description=BULK XXX. Servizio massivo per YYY. @2025 MaSTeR Information per ZZZ.
After=network.target

[Service]
User=masterdev
Group=public
ExecStart=/bin/sh /usr/local/share/public/bulk/clienti/ZZZ/XXX-YYY/bulk-XXX.sh
Restart=always

[Install]
WantedBy=default.target
